/*base afecta todo
css lee de arriba hacia abajo*/

/*BACKGROUND*/
$bc-lightgreen: #1aac73;
$bc-green: #118a5c;
$bc-lightgreen: #1aac73;
$bc-blue: rgb(34,186,203);

/*FONT COLOR*/
$fc-darkgreen:rgb(10, 110, 10);
$fc-lightgreen:rgb(71, 109, 66);
$fc-white: #fff;
$fc-black:black;
$fc-grey:#9c9c9c;


/*FONT*/
$fz:16px;

