
footer{
    background-color: nth($list:$bc-color , $n:4);
    div{
        div{
            div{
                background-color: $bc-grey;
                padding: 10px;
                h4{
                    color: $fc-grey;
                }
                    ul{
                    list-style: none;
                    margin: 0px;
                    padding: 0px;
                    li{
                        a{
                            text-decoration: none;
                            color: $fc-grey;
                            font-size: nth($list:$f-size , $n:4 );
                        }
                    }
                }
            }
        }
    }
}
