/*PESTAÑAS NOSOTROS -GALERÍA*/

body{
	background-image: url("../img/fondo2.jpg");
	background-repeat: no-repeat;
	background-size:auto;
	
	header{

	}
	.presentation{
		div{
			
			div{
				background-color: whitesmoke;
				div{
					
					h1{
						
					}
				}
				div{
					img{
						max-width: 500px;
						width: 100%;
						max-height: 400px;
						height: 100%
					}
				}
				div{
					p{
						
					}
				}
			}
		}
	}
	.secciones{
		div{
			
			div{
				background-color: whitesmoke;
				div{
					
					h2{

					}
				}
				div{
					p{

					}
				}
				div{
					img{
						max-width: 500px;
						width: 100%;
						max-height: 400px;
						height: 100%;
					}
				}
			}
		}
	}
}
